 .button {
        display: flex;
        justify-content:space-around;
        width: 500px;
        height: 100px;
        color: #FFC0CB;
        text-decoration: none;
        user-select: none;
        border: 5px solid;
        border-radius: 45px;
        transition: 0.2s;
        margin-left:50px;
        margin-bottom:200px;
      } 
.button a{
    font-family:'Inter';
    font-size:50px;
    color:white;
    text-decoration: none;
    
    /* padding-left: 50%; */
    padding-top:3%;
}
    



