.container{
display: flex;
width: 700px;
height: auto;
justify-content: space-around;
} 

/* .meta{
    display:none;
} */

.appeal{
    font-family: 'Roboto', sans-serif, bold;
    font-size: 96px;
    /* font-style: medium; */
    color: white;
    padding-top:100px;
    inline-size: -5px;
    padding-left:20px;
}
.forwhom{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-style: Italic;
    color: white;
    padding-left:100px;
  

}

