.navbar {
    display:flex;
   justify-content: space-around;
    padding-left: 20px;
    width: 700px;
    list-style: none;
   
   
  }
  .navbar a {
    color:white;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: medium;
    display: inline-block;
    width: 100px;
    font-family: 'Roboto', sans-serif;
    font: size 24px;
  }
  .navbar a:hover {
    border-radius: 20px 5px;
  }

  
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
 
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}