.footer{
    display:flex;
    justify-content:center;
    background-color: #201C1C;
    color: white;
   
   margin:7%;
    /* padding-left:220px; */
}
.p.ft_soc_icon{
    color:white;
    font-size: 10px;
    

}
p.ft_soc_icon a{
color:white;
text-decoration: none;
font-size: 10px;

}
p.ft_soc_icon a:hover{
    color:#bcb9b5
}