.footer{
    display:flex;
    justify-content: space-around;
    background-color: #201C1C;
    color: white;
   
    padding-top:20px;
    padding-left:170px;
}
.p.ft_soc_icon{
    color:white;
    font-size: 10px;
    

}
p.ft_soc_icon a{
color:white;
text-decoration: none;
font-size: 10px;

}
p.ft_soc_icon a:hover{
    color:#bcb9b5
}